<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>じゅうしょけんさ君</title>
</head>
<body>
    <h1>トップページ</h1>
    <form action="result/" method="post">
        {% csrf_token %}
        <textarea name="zipCode" rows="1" cols="10" maxlength="7">2600031</textarea>
        <br></br>
        <input type="submit" value="住所検索" style="WIDTH: 95px; HEIGHT: 50px">
    </form>
</body>
</html>